/* Left urlbar buttons colors fix */
#identity-permission-box,
#identity-icon-box {
  background: rgba(0, 0, 0, 0) !important;
}
#identity-permission-box:hover,
#identity-icon-box:hover {
  background: var(--toolbarbutton-hover-background) !important;
}

/* Adds 5px padding to the url-input if focused (visual fix)*/
#urlbar-input[aria-expanded="true"] {
  padding-left: 5px !important;
}

/* Hide urlbar buttons unless hovered */
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#nav-bar:not(:has(*[open="true"])) {
  &:not(:hover) {

    #page-action-buttons,
    #identity-box,
    #tracking-protection-icon-container {
      animation: fadeOut 0.5s forwards !important;
    }
  }

  &:hover {

    #page-action-buttons,
    #identity-box,
    #tracking-protection-icon-container {
      display: inherit !important;
      /* Oder ein anderer geeigneter Display-Wert */
      animation: fadeIn 0.5s forwards !important;
    }
  }
}

#nav-bar:not(:has(*[open="true"])):not(:hover) {

  #page-action-buttons,
  #identity-box,
  #tracking-protection-icon-container {
    display: none !important;
    animation-delay: 0.5s;
  }
}

/* Hide extension buttons unless hovered */
#nav-bar:not(:has(*[open="true"])) {

  #unified-extensions-button,
  #page-action-buttons,
  #identity-box,
  #tracking-protection-icon-container,
  .unified-extensions-item {
    transition: opacity 0.5s !important;
  }

  &:not(:hover) {

    #unified-extensions-button,
    #page-action-buttons,
    #identity-box,
    #tracking-protection-icon-container,
    .unified-extensions-item {
      opacity: 0 !important;
    }
  }
}